.calendar {
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height:100%;
	background-color:rgba(0,0,0,.7);
	display: none;
}
.calendar-content {
	background-color: #fff;
	height: 100%;
	position: relative;
}
.calendar-top {
	width: 100%;
	background: #F3F4F8;
	border-bottom: none;
	position: fixed;
	top: 0;
	left:0;
	height:3.04rem;
	padding-bottom: 0;
	z-index: 99;
}
.week-bar ul{
	border-top: 1px solid #D5DAE1;
	display: flex;
}
.week-bar ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 0.32rem 0;
	width: 14.28%;
	text-align: center;
	font-size: 0.373333rem;
	color: #7E808A;
	line-height: 1;
	-webkit-box-flex: 1;
}
.calendar-scroll {
	width: 100%;
	padding-top:3.04rem;
	padding-bottom: 1.333333rem;
	overflow-y:auto;
	height: 100%;
	-webkit-overflow-scrolling : touch;
}
.calendar-day {

}
.calendar-day table {
	width: 100%;

}
.calendar-day table thead tr th{
	text-align: center;
	font-size: 0.56rem;
	color: #2A2A2F;
	padding: 0.64rem 0 0.213333rem 0;
}
.calendar-day table tbody tr {

}
.calendar-day table tbody tr td{
	padding-bottom: 0.266667rem;
	text-align: center;
	color: #2A2A2F;
	height: 0.986667rem;
}
.calendar-day table tbody tr td span{
	display: inline-block;
	height:1.2rem;
	vertical-align: middle;
	width: 100%;
}

.calendar-day table tbody tr td span i{
	display: inline-block;
	vertical-align: middle;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	border-radius: 50%;
	font-style: normal;
	font-size: 0.426667rem;
}



.calendar-day table td.gray span{
	color: #ccc;
}
.calendar-day table td.optional span{
    color: #2A2A2F;
}
.calendar-day table tbody tr td.selected-start span{
	/*background-color: #F3F4F8;*/
	border-radius: 50% 0 0 50%;
}
.calendar-day table tbody tr td.selected-start span i{
	background-color: #2A2A2F;
	color:#fff;
}
.calendar-day table tbody tr td.selected-end span {
	/*background-color: #F3F4F8;*/
	border-radius: 0 50% 50% 0;
}
.calendar-day table tbody tr td.selected-end span i{
	background-color: #2A2A2F;
	color:#fff;
}
.calendar-day table tbody tr td.selected-line span{
	background-color: #F3F4F8;
}


.calendar-btn {
	position: fixed;
	bottom:0;
	left: 0;
	display: flex;
	width: 100%;
	z-index: 99;
}
.calendar-btn a{
	display: inline-block;
	vertical-align: middle;
	-webkit-box-flex: 1;
	width: 50%;
	height: 1.333333rem;
	text-align: center;
	text-decoration: none;
	line-height: 1.333333rem;
	font-size: 0.373333rem;
}

.calendar-btn a.cancel {
	color: #2A2A2F;
	background: #fff;
	border-top:1px solid #D5DAE1;
}
.calendar-btn a.determine {
	color: #fff;
	background: #2A2A2F;
}
